*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
}
.main_izquierda{
    width: 50%;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_izquierda.active{
    animation: izquierda 3s linear infinite;
}
@keyframes izquierda{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.main_derecha{
    width: 50%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_derecha.active{
    animation: izquierda 3s linear infinite;
}
@keyframes derecha{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.card{
    position: absolute;
    width: 30%;
    height: 70%;
    background-color: white;
    top: 15%;
    left: 34%;
    background-image: url(../images/ntf1.jpeg);
    background-size: cover;
    background-position: center top;
    opacity: 0.7;
    border-radius: 10px;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
form input{
    background-color: transparent;
    color: white;
    backdrop-filter: blur(5px);
    outline: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 2px violet;
    border-left: none;
    font-size: 20px;
}
.form_btn{
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #434343;
    opacity: 1;
    color: white;
    font-family:"Manhattan";
}
.form_btn:hover{
    opacity: 0.7;
}
@font-face{
    font-family:"Manhattan";
    src: url("../fonts/Manhattan\ Tower\ Bold.otf");
  }

.main_h1_title, .main_h1_title2{
    font-family:"Manhattan";
    display: none;
    color: white;
}
.main_h1_title.active{
    display: block;
}
.main_h1_title2.active{
    display: block;
}